body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f9fc;
  color: #222;
}

header {
  background: #0078d7;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: #ff4d4d;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
}

button {
  background: #0078d7;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#map {
  height: 90vh;
  width: 100%;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

.recording {
    animation: pulse 1.5s infinite;
    color: #ff4d4d !important;
    background-color: #ffeaea !important;
}

